.keyboard{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #00849b;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    user-select: none;
    transition: bottom 1s;
}
.keyboard--hidden{
    bottom: -100%;
}
.keyboard>.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.keyboard>.keys>.break{
    flex-basis: 100%;
}
.keyboard>.keys>.key{
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}
.keyboard>.keys>.dark{
    background: rgba(0, 0, 0, 0.25);
}
.keyboard>.keys>.big{
    width: 12%;
}
.keyboard>.keys>.space{
    max-width: initial;
    width: 35%;
}
.keyboard>.keys>.caps::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.keyboard>.keys>.active::after{
    background:rgb(0, 255, 0);
}

.keyboard>.keys>.key:active{
    background: rgba(255, 255, 255, 0.1);
}
.keyboard--hint{
    width: 80%;
    left: 10%;
    background: rgba(207, 207, 207, 0.8); ;
    border-radius: 5px;
    position: absolute;
    top: 1rem;
    transition: top 1s;
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
}
.keyboard--hint.hidden{
    top:-100%;
}